.footer {
  color: white;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
}

.footerButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footerButtonsLeft {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.footerButtonsRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.browser {
  border-top: 1px solid white;
}
