.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
}

.content > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.content > *:first-child {
  border-right: 1px solid black;
}

.nav {
  padding: 1em;
  display: flex;
  justify-content: center;
  background: #222;
}
