.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  border-top: 2px solid #444;
}

.contentElement {
  flex: 0 0 50%;
  max-width: 50%;
  background: white;
  transition:
    transform 0.5s ease-in-out,
    max-width 0.5s ease-in-out,
    flex 0.5s ease-in-out;
}

.content.left > .contentElement:first-child {
  flex: 0 0 100%;
  max-width: 100%;
}

.content.left > .contentElement:last-child {
  margin-left: 0;
}

.content.right > .contentElement:last-child {
  flex: 0 0 100%;
  max-width: 100%;
  animation: hideBoarderAnimation 0s ease-in 0.5s forwards;
  transform: translateX(-50%);
}

.contentElement:last-child {
  border-left: 2px solid #444;
  z-index: 2;
  margin-left: -1px;
}

@keyframes hideBoarderAnimation {
  to {
    border: none;
  }
}
