.wrapper {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
}

.empty {
  height: 11em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty > img {
  height: 6em;
}
